# Server-side .env (lives in gutnumber_pvt/.env on the host, never in this repo).
GUTNUMBER_DATA_DIR=/home/you/gutnumber-data
PORT=3100
PUBLIC_URL=https://gut.example.com
TZ=America/Los_Angeles
DAILY_HOUR=6
WEEKLY_DAY=1
PROXY_URL_TEMPLATE=http://USER:PASS_session-{session}_country-{country}_forcerandom-1@geo.example-proxy.com:12321
PROXY_COUNTRIES=us
BROWSER_CONCURRENCY=1
HTTP_CONCURRENCY=4
YOUTUBE_API_KEY=
TYPESAFE_API_KEY=
PUSHOVER_USER=
PUSHOVER_TOKEN=
